html {
  background-color: black;
  color: white;
  font-family: Calibri, sans-serif;
}

details summary {
  cursor: pointer;
  padding: 0.5em 0;
}

table {
  /* width: 100%; */
  border-collapse: collapse;
  margin-bottom: 1em;
}

th, td {
  padding: 0.5em;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
  color: black;
  text-align: left;
}
